<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Everyday Ordinary | theMetaCity</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('edo.static', filename='css/style.css') }}" rel="stylesheet"/>
        <link rel="icon" type="image/svg+xml" href="{{ url_for('home.static', filename='images/tmc-logo-animated.svg') }}">
    </head>
    <body>
        <header>
            <h1>Everyday Ordinary</h1>
            <nav>
                <a href="{ { url_for('home.index') }}">theMetaCity</a>
                <a href="{ { url_for('blog.archive') }}">Blog</a>
                <a href="{ { url_for('media.home') }}">Media</a>
            </nav>
        </header>
        <article>
            {% for edo in edo_list %}
                {% if edo.title %}
                    <h2>{{ edo.title }}</h2>
                {% endif %}

                <h3>{{ edo.created_at.humanize(locale='en-au') }}</h3>
                {{ edo.content|tmc_markdown }}
            {% endfor %}
        </article>
        <footer>
            <h5>End of the list</h5>
        </footer>
    </body>
</html>