<div id="donate" class="overlay">
    <div class="popup">
        <a class="close" href="#">&times;</a>
        <div class="container">
            <input id="tab-donate-thanks" type="radio" name="tabs-donate" checked="checked"/>
            <input id="tab-donate-dogecoin" type="radio" name="tabs-donate"/>
            <input id="tab-donate-bitcoin" type="radio" name="tabs-donate"/>
            <input id="tab-donate-litecoin" type="radio" name="tabs-donate"/>
            <div class="tabs">
                <label for="tab-donate-thanks">Thanks</label>
                <label for="tab-donate-dogecoin">Ð</label>
                <label for="tab-donate-bitcoin">Ƀ</label>
                <label for="tab-donate-litecoin">Ł</label>
            </div>
            <div class="content">
                <div class="tab">
                    <p>Thanks for taking the time to read and (hopefully) enjoy my work. If you found it useful or it inspired you and want to show a token of appreciation, a donation towards buying a beer would be greatly appreciated.</p>
                    <p>If you see me around come say hi, and I will gladly return the favour.</p>
                </div>
                <div class="tab">
                    <h4><a href="dogecoin:DNXWVDZpPWbPPKyAFLTMEuh5gSx97EESgV">DNXWVDZpPWbPPKyAFLTMEuh5gSx97EESgV</a></h4>
                </div>
                <div class="tab">
                    <h4><a href="bitcoin:1LUtxzsgmJs6NrtYhqTKNdxzWWW26QNhZf">1LUtxzsgmJs6NrtYhqTKNdxzWWW26QNhZf</a></h4>
                </div>
                <div class="tab">
                    <h4><a href="litecoin:LTQCfaLWfaFkMBBJDTPWfFtBE8T2sDRwAe">LTQCfaLWfaFkMBBJDTPWfFtBE8T2sDRwAe</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>