{% extends 'article_base.html' %}

{% block title %}About{% endblock %}

{% block body_content %}
    <article class="about">
        <h2>I'm Doug. I fight for the user.</h2>
        <p>Developer and project manager by day and InfoVis nerd by night. I live and work in Brisbane, Australia with my partner, Io Gatto and son Skittermancer. Add to the mix a dog or two and some chickens and  </p>
        <p>I also love telling stories in every which way. </p>
        <p>With a degree in Interaction Design and more than a decade working in science and IT I have a unique perspective on how to design, build and manage projects that serve user and business needs.</p>
    </article>
{% endblock %}