@import "audio.pcss";
@import "code.pcss";
@import "picture.pcss";
@import "video.pcss";

body > header {
    margin-bottom: 0;
}

.mediaEntries {
    columns: 1;
    padding: 0;

    .mediaEntry {
        margin: 1em 0;

        .meta {
            div {
                width: 100%;
            }
        }
    }
}