{% extends "blog/article_base.jinja2" %}

{% block title %}Blog{% endblock %}

{% block body_content %}
    {% if articles is defined %}
        {% for article in articles %}
            <article>
                <h1><a href="{{ url_for('blog.title', url=article.url) }}">{{ article.title }}</a></h1>
                <h2>{{ article.dateline }}</h2>
                <nav>
                    Tags:
                    {% if article.tags|length %}
                        {% for tag in article.tags %}
                            <a href="{{ url_for('blog.tags_tag', tag=tag.tag) }}">{{ tag.tag }}</a>
                        {% endfor %}
                    {% else %}
                        No tags
                    {% endif %}
                </nav>

                {{ article.blurb|markdown }}
            </article>
        {% endfor %}
    {% else %}
        <h2>No articles here sorry :(</h2>
    {% endif %}
{% endblock %}
