#front-page {
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-rows: 20% 120px auto 1fr auto;
    grid-row-gap: 1em;
    grid-template-areas:
        ". ."
        ". navigation"
        ". articles"
        ". ."
        ". links";
}