{% extends 'blog/article_base.html' %}

{% block title %}About{% endblock %}

{% block body_content %}
    <article class="about">
        <h1>I'm Doug. I fight for the User.</h1>
        <p>Interaction Designer + Developer by day and InfoVis by night, I surround myself with all things People: stories, adventures, challenges, all manor of experiences affecting how we live our lives.</p>
        <p>After moving from the USA, I now live and work in Brisbane, Australia with my partner, Io Gatto and children Skittermancer and Trillian. Add to the mix a dog and some chickens plus a woodshop and you have theMetaCity.</p>
        <p>With a degree in Interaction Design and more than a decade working in science and IT I have a unique perspective on how to design, build and manage projects that serve user and business needs.</p>
        <p>You can occasionally <a href="https://twitter.com/dougmillertmc">find me on Twitter</a> and almost <a href="mailto:dougmiller@themetacity.com">always find me on email</a>.</p>
    </article>
{% endblock %}
