<div id="donate" class="overlay">
    <div class="popup">
        <a class="close" href="#">&times;</a>
        <div class="container">
            <input id="tab-1" type="radio" name="tabs" checked="checked"/>
            <input id="tab-2" type="radio" name="tabs"/>
            <input id="tab-3" type="radio" name="tabs"/>
            <input id="tab-4" type="radio" name="tabs"/>
            <div class="tabs">
                <label for="tab-1">Thanks</label>
                <label for="tab-2">Dogecoin</label>
                <label for="tab-3">Bitcoin</label>
                <label for="tab-4">Litecoin</label>
            </div>
            <div class="content">
                <div class="tab">
                    <p>Thanks for taking the time to read and (hopefully) enjoy my work. If you found it useful or it inspired you and want to show a token of appreciation, a donation towards buying a beer would be greatly appreciated.</p>
                    <p>If you see me around come say hi, and I will gladly return the favour.</p>
                </div>
                <div class="tab">
                    <h4><a href="dogecoin:DNXWVDZpPWbPPKyAFLTMEuh5gSx97EESgV">DNXWVDZpPWbPPKyAFLTMEuh5gSx97EESgV</a></h4>
                </div>
                <div class="tab">
                    <h4><a href="bitcoin:1LUtxzsgmJs6NrtYhqTKNdxzWWW26QNhZf">1LUtxzsgmJs6NrtYhqTKNdxzWWW26QNhZf</a></h4>
                </div>
                <div class="tab">
                    <h4><a href="litecoin:LTQCfaLWfaFkMBBJDTPWfFtBE8T2sDRwAe">LTQCfaLWfaFkMBBJDTPWfFtBE8T2sDRwAe</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>