<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The MetaCity.com</title>
    <link href="/static/css/style.css" rel="stylesheet"/>
</head>
<body>
    <main id="fp-main">
        <nav id="fp-nav">
            <img alt="The MetaCity Logo" src="/static/images/tmc-logo-animated.svg" width="100%" height="auto"/>
            <h1>Douglas Miller</h1>
            <h1><a href="{{ url_for('blog') }}">Blog</a></h1>
            <h1><a href="{{ url_for('workshop') }}">Workshop</a></h1>
        </nav>

        {% for article in articles %}
            <article class="fp-article">
                <a href="{{ url_for('blog_with_title', url=article.url) }}">
                    <img src=""/>
                    <h2>{{ article.title }}</h2>
                    <h3>{{ article.build_date_byline() }}</h3>
                    {{ article.blurb|safe }}
                </a>
            </article>
        {% endfor %}
        <footer id="fp-footer">
            <h2><a href="/twitter/">Twitter</a></h2>
            <h2><a href="/about">About</a></h2>
            <h2><a href="https://media.themetacity.com">Media</a></h2>
        </footer>
    </main>
</body>
</html>