<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The MetaCity.com</title>
    <link href="/static/css/style.css" rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    <style>
        body {
            background: url("/static/images/backgrounds/{{ range(1, 17) | random }}.jpg") no-repeat center center fixed;
        }
    </style>

</head>
<body id="front-page">
        <nav>
            <img alt="The MetaCity Logo" src="/static/images/tmc-logo-animated.svg" width="120" height="120"/>
            <h1>Doug Miller</h1>
            <h1><a href="{{ url_for('blog') }}">Blog</a></h1>
            <h1><a href="{{ url_for('workshop') }}">Workshop</a></h1>
        </nav>

        <main>
        {% for article in articles %}
            <article class="{{ article.type }}">
                <h1>
                    {% if article.type == 'blog' %}
                        <a href="{{ url_for('blog_with_title', url=article.url) }}">
                    {% else %}
                        <a href="{{ url_for('workshop_with_title', url=article.url) }}">
                    {% endif %}
                        {{ article.title }}
                    </a>
                </h1>
            </article>
        {% endfor %}
        </main>
    <footer>
        <h2><a href="/twitter/">Twitter</a></h2>
        <h2><a href="{{ url_for('about') }}">About</a></h2>
        <h2><a href="https://media.themetacity.com">Media</a></h2>
    </footer>
</body>
</html>