
body {
    margin: 0 0 12em 0;
}

body > header {
    background: var(--colour-float);
    box-shadow: 0 0 1px 0 var(--colour-forgotten);
    margin-bottom: 0.5em;
    padding: 0.5em;
    text-align: center;

    h1 {
        font-family: var(--font-heading);
        margin: 0;
        font-size: 3em;

        .titleHighlight {
            color: var(--colour-work);
        }
    }

    nav {
        padding: 0.5em;

        a {
            font-family: var(--font-heading);
            color: var(--colour-forgotten);
            text-decoration: none;
            font-size: 1.5em;
            padding: 1em;
        }
    }
}

#container {
    background: var(--colour-float);

    > h2 {
        text-align: center;
    }
}

#container > article {
    max-width: var(--width-mid);
    margin: 0 auto;
    line-height: 1.4em;
    font-size: 1.2em;
    padding: 1em;

    h2 {
        margin-top: 0;
        margin-bottom: 0;
    }

    nav {
        margin-top: 0;
        margin-bottom: 0;
    }

    footer {
        margin-top: 1em;
    }
}

h1, h2, h3, nav {
    font-family: var(--font-heading);
}

h1 {
    a {
    color: var(--colour-work);
    text-decoration: underline;
    text-decoration-color: var(--colour-explore);
    }

    a:hover {
        color: red;
    }

    a:visited {
        color: var(--colour-rest);
    }

    a:active {
        color: var(--colour-fight);
    }
}

h2, nav, nav a {
    font-size: 0.8em;
    color: var(--colour-forgotten);
}

h3 {
    font-family: var(--font-lead);
}

p {
    font-family: var(--font-bulk);
    font-size: 1em;
}

code {
    font-size: 1em;
}

body > h2 {
    max-width: var(--width-mid);
    margin: 0 auto;
    font-size: 1em;
}

#cityclipdiv {
    clip-path: url('/blog/images/tmc-logo-cityscape-main-clip.svg#cityScapeClip');
    height: 4em;
    background-color: var(--colour-float);
}

body > footer {
    height: calc(6em + 64px);
    position: fixed;
    width: 100%;
    bottom: 0;
    background: repeat-x url('/blog/images/tmc-footer-bands.svg');
    background-position-x: center;
    padding-top: 6em;
    z-index: -1;

    nav {
        padding: 0.5em;
        text-align: center;

        a {
            font-family: var(--font-heading);
            color: var(--colour-deep);
            text-decoration: none;
            font-size: 1.8em;
            margin: 1em;
            display: inline-block;
        }
    }

    p {
        text-align: center;
        font-size: 1.2em;
        font-family: var(--font-bulk);
        color: var(--colour-deep);

        a {
            color: var(--colour-forgive);
        }
    }
}
