
body {
    background-color: var(--background);

    > header {
        background: var(--background-hilight);
        box-shadow: 0 0 1px 0 var(--colour-main-background-accent);
        margin-bottom: 0.5em;
        padding: 0.5em;
        text-align: center;

        h1 {
            font-family: var(--font-heading);
            margin: 0;
            font-size: 3em;
            color: var(--colour-header-text);

            .titleHighlight {
                color: var(--colour-header-hilight);
            }
        }

        nav {
            padding: 0.5em;

            a {
                font-family: var(--font-heading);
                color: var(--colour-bulk-text);
                text-decoration: none;
                font-size: 1.5em;
                padding: 1em;
            }
        }
    }

    > footer {
        nav {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding: 1.5em;
            border-top: 1px solid var(--colour-main-background-accent);
            border-bottom: 1px solid var(--colour-main-background-accent);
            background-color: var(--background);

            a {
                font-family: var(--font-heading);
                color: var(--colour-glide);
                text-decoration: none;
                font-size: 1.8em;
            }
        }

        p {
            font-size: 1.2em;
            font-family: var(--font-bulk);
            line-height: 1.2em;
            text-align: center;
            color: var(--colour-bulk-text);
            padding: 1.5em;
            border-top: 1px solid var(--colour-main-background-accent);
            border-bottom: 1px solid var(--colour-main-background-accent);
            background-color: var(--background);

            a {
                color: var(--colour-link);
            }
        }
    }
}

#content {
    display: grid;
    grid-template-columns:  1fr var(--width-mid) 1fr;

     > * {
         grid-column-start: 2;
         grid-column-end: -2;
     }

    article {
        max-width: var(--width-mid);
        line-height: 1.4em;
        font-size: 1.2em;
        padding: 1em;

        h2 {
            margin-top: 0;
            margin-bottom: 0;
        }

        nav {
            margin-top: 0;
            margin-bottom: 0;
        }

        footer {
            margin-top: 1em;
        }
    }
}

h1, h2, h3, nav {
    font-family: var(--font-heading);
}

h1 {
    a {
        color: var(--colour-work);
        text-decoration: underline;
        text-decoration-color: var(--colour-explore);
    }

    a:hover {
        color: red;
    }

    a:visited {
        color: var(--colour-rest);
    }

    a:active {
        color: var(--colour-fight);
    }
}

h2, nav, nav a {
    font-size: 0.8em;
    color: var(--colour-slide);
}

h3 {
    font-family: var(--font-lead);
}

p {
    font-family: var(--font-bulk);
    font-size: 1em;
    color: var(--colour-text-normal);
}

a {
    color: var(--colour-text-highlight);
}

a:hover {
        color: var(--colour-text-accent);
}

code {
    font-size: 1em;
    background-color: var(--colour-main-background-accent);
}