@charset "UTF-8";
:root {
    color-scheme: light dark;

    
    @media (prefers-color-scheme: dark) {
        --base: oklch(0.9432 0.0369 var(--base_hue_primary));
        --base_primary: oklch(from var(--base) calc(l * .9) c calc(h * .2));
        --base_highlight: oklch(from var(--base_primary) calc(l * .8) c h);
    }
    
    @media (prefers-color-scheme: light) {
        --base: oklch(0.9432 0.0369 var(--base_hue_primary));
        --base_primary: oklch(from var(--base) calc(l * .8) c h);
        --base_highlight: oklch(from var(--base_primary) calc(l * .3) c h);
    }

    --background: var(--base);
    --primary: var(--base_primary);
    --primary-highlight: var(--base_highlight);
}