body {
    margin: 0;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 1fr;
    grid-row-gap: 10px;
    grid-template-areas:
    "navigation"
    "articles  "
    "links     ";
}

@media (min-width: 601px) {
    body {
        grid-template-columns: 1fr 400px;
        grid-template-rows: 1fr 120px auto 1fr auto;
        grid-row-gap: 1em;
        grid-template-areas:
        ". .         "
        ". navigation"
        ". articles  "
        ". .         "
        ". links     ";
    }
}

nav, article, footer {
    background-color: var(--colour-mist);
    border: 1px solid var(--colour-unforgiving);
}

nav {
    grid-area: navigation;
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-column-gap: 1em;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "imglogo name    "
        "imglogo blog    "
        "imglogo workshop";
    align-items: center;

    & img {
        grid-area: imglogo;
        width: 120px;
    }

    & a:nth-of-type(1) {
        grid-area: name;
        margin-top: 1em;
    }

    & a:nth-of-type(2) {
        grid-area: blog;
    }
}

main {
    grid-area: articles;
}

footer {
    padding: 1em;
    text-align: center;
    grid-area: links;
    align-self: end;
    display: flex;
    justify-content: space-between;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--theme-primary);
}

a {
    color: var(--theme-primary);

    &:hover {
        color: var(--theme-primary-hover);
    }

    &:active {
        color: var(--theme-primary-active);
    }
}

p {
    color: var(--theme-text);
}

h1 {
    margin: 0 0 0.5em 0;
    font-size: 1.5em;
}

h2 {
    margin: 0 0 0.5em 0;
    font-size: 1em;
}

h3 {
    margin: 0 0 1em 0;
    font-size: 0.9em;
}
