@import "fp_widgets/base.pcss";
@import "fp_widgets/video.pcss";
@import "fp_widgets/audio.pcss";
@import "fp_widgets/picture.pcss";
@import "fp_widgets/code.pcss";
@import "fp_widgets/small/base.pcss" (max-width: 600px);
@import "fp_widgets/medium/base.pcss" (min-width: 601px);
@import "fp_widgets/large/base.pcss" (min-width: 1201px);

body > header {
    background: var(--colour-float);
    box-shadow: 10px 10px 15px 0 var(--colour-forgotten);
    margin-bottom: 0.5em;
    padding: 0.5em;
    text-align: center;

    h1 {
        font-family: var(--font-heading);
        margin: 0;

        .titleHighlight {
            color: var(--colour-work);
        }
    }

    nav {
        margin: 1em 0;
        padding: 1em;
        text-align: center;

        input {
            font-size: 1.5em;
        }
    }
}