:root {

  /* Container */
  --size-column-small: 600px; /* Max width of the media container*/
  --size-media-default: 980px; /* Max width of the media container*/

  --small-device: 600px;
  --medium-device: 1200px;
  --large-device: 1201px;

  /* Font sets */
  --font-heading: "Orbitron", Verdana, Arial, sans-serif;;
  --font-lead: "Inconsolata", Verdana, Arial, sans-serif;;
  --font-bulk: "Droid Sans", serif;

  /* Colours */
  --colour-deep: hsla(210, 30%, 15%, 1);
  --colour-explore: hsla(170, 50%, 45%, 1);
  --colour-known: hsla(170, 50%, 45%, 0.5);
  --colour-float: hsla(0, 0%, 100%, 1);
  --colour-glide: hsla(0, 5%, 95%, 0.9);
  --colour-unforgiving: hsla(180, 20%, 10%, 1);
  --colour-forgotten: hsla(180, 20%, 10%, 0.4);
  --colour-forgive: hsla(200, 10%, 30%, 1);
  --colour-work: hsla(20, 75%, 50%, 1);
  --colour-rest: hsla(20, 75%, 50%, 0.5);
  --colour-fight: hsla(10, 85%, 50%, 1);
  --colour-meditate: hsla(0, 0%, 0%, 0);
}