<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
        <link href="/static/css/style.css" rel="stylesheet"/>

        {% block includes %}{% endblock %}
    </head>
    <body class="article">
        <header>
            <h1>theMetaCity<wbr><span class="titleHighlight">Blog</span></h1>
            <nav>
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('tags') }}">Tags</a>
                <a href="https://media.themetacity.com">Media</a>
            </nav>
        </header>
        {% block body_content %}{% endblock %}
        <footer>
            <nav>
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('blog') }}">Blog</a>
                <a href="https://media.themetacity.com">Media</a>
                <a href="https://assets.themetacity.com">Assets</a>
                <a href="https://demo.themetacity.com">Demo</a>
                <a href="{{ url_for('rss') }}">RSS</a>
                <a href="#donate_overlay">Buy me a beer</a>
            </nav>

            <p>{% block licence %}{% endblock %} by Douglas Miller is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License.</a>.</p>
        </footer>
        {% include 'donate.html' %}
    </body>
</html>